<form action="/users/login" method="post">
    Username : <input type="text" name="username"> <br>
    Password : <input type="password" name="password"> <br>
    <input type="submit" name="Submit">
</form>